<h1 class="admin_title">Add Female History</h1>
<%= form_for([@case, @patient, @history]) do |f| %>
<div class="grid_4 suffix_1 alpha">	
	<div class="table_wrapper left_wrapper">
	<table class="form">
		<tr>
			<td class="label"><%= f.label :pregnancies %></td><td class="value"><%= f.text_field :pregnancies %></td>
		</tr>
	</table>
	</div>
</div>
<% @history.patient_id = @patient.id %>
	<div class="referrer_submit_button">
		<%= f.submit :value => "Create History" %>
	</div>
<% end %>