<p><%= "#{@patient.first_name} #{@patient.last_name}'s Medical Record" %></p>



...History Content...

<br>

<%= link_to "Edit Medical History Info", 		
			 edit_case_patient_history_female_path(@case.id, @patient.id, 		@history.id) %>
			
<br>
			
<%= link_to "Return to Patients Page", 		
		 	case_patient_path(@case.id, @patient.id) %>
		
<script type="text/javascript">

var default_left;
var default_right;

$(document).ready(function(){

	default_left=2;
	default_right=2;
	toolbar_config(default_left, default_right);

	toolbar_header("Case Helper");
	page_title("Female Patient Summary");
});


/**********************************************************************
Interactive left and right toolbars
**********************************************************************/
$('#toolbar_toggle').click(function(){
	toolbar_toggle(default_left, default_right);	
});
$('#schedule_toggle').click(function(){
	appointment_toggle(default_left, default_right);	
});


</script>