<ul>
<% @cases.each do |c| %>

<li>
	<%= link_to "Case: #{c.id}, 
				Opened at #{c.created_at.in_time_zone("Central Time (US & Canada)")}", 		
				case_path(c.id) %>
</li>

<% end %>
<%= will_paginate @cases %>

</ul>