<ul class="index round">
<% @cases.each do |c| %>


<%
clinician = Clinician.find_by_id(c.clinician_id) 
referrer = Referrer.find_by_id(c.referrer_id)
user = User.find_by_id(c.user_id)
%>

<li>
	<%= link_to "Case: #{c.id}, 
				Opened at #{c.created_at.in_time_zone("Central Time (US & Canada)")}", 		
				edit_case_path(c.id) %>
</li>

<% end %>
<%= will_paginate @cases %>

</ul>