<div class="grid_12 page-content">
	<h1 class="pirulen">Harness the Power of Simplicity</h1>

	<div class="grid_12 alpha omega">
	<div class="grid_8 alpha">
	<div class="page-blurb">
	<h2>More than 50 Years of Knowledge</h2>
	<p>The Complete Human Genome was finally sequenced in 2003, exactly 50 years after the double-helix nature of the molecule was proposed by Watson and Crick. We are now left with another pressing challenge: properly analyzing and decoding the massive amounts of data produced.</p>
	</div>
	</div>
	
	</div>
	
	<div class="grid_12 alpha omega">
	<div class="grid_8 push_4 alpha">
	<div class="page-blurb">
	<h2>Easy-to-Use Tools Married with Curated Data</h2>
	<p>Studying Genomics is difficult. As a physician, genetic counselor, or clinical researcher, you shouldn't have to waste your time dealing with difficult-to-use informatic tools. We strive to reduce the non-essential workflow involved in genomics by building tools that let you focus on the genetics.</p>
	</div>
	</div>
	</div>
</div>
