<p><%= "#{@patient.first_name} #{@patient.last_name}'s Medical Record" %></p>



<p> Prior Infertility: <%= @history.prior_infertility %> </p>

<br>

<%= link_to "Edit Medical History Info", 		
			edit_case_patient_history_male_path(@case.id, @patient.id, @history.id) %>
			
<br>
			
<%= link_to "Return to Patient Page", 		
			case_patients_path(@case.id) %>