
<% if signed_in? %>
<footer>
	<nav class="footer">
		<ul>
			<li>Transit</li>
		</ul>
	</nav>	
</footer>
<% else %>
<footer>
	<div class="copyright">
		Transit. An <a href="http://alx.bz" target="_blank">Althea</a> creation.
	</div>
</footer>
<% end %>