<div class="left_sidebar">
	<ul>
		<li class="header">Welcome Back</li>
		<li>Select 'New Case' To Begin a New Case</li>
		<li>Select 'Administration' to Add Employees</li>
		<li>Select 'Calendar' to View/Make Appointments</li>
		<li>Select 'Case Lookup' to Search for Previous Cases</li>
		<li>Select 'Account Settings' to Edit Your Info</li>
		<li>Select 'Sign Out' to Call It a Day</li>
	</ul>
</div>