<div class="right_sidebar">
	
	<ul>

		<li class="option header">4/23/12</li>
		
		<li class="option">	Appointment</li>
		
		<li class="option">	Appointment</li>
		
		<li class="option">	Appointment</li>
		
		<li class="option">	Appointment</li>
		
		<li class="option">	Appointment</li>
		
		<li class="option">	Appointment</li>
		
		
	</ul>
	
</div>