<div class="right_sidebar">
	
	<ul>
		
		<li class="option">	Appointment</li>
		
		<li class="option">	Appointment</li>
		
		<li class="option">	Appointment</li>
		
		<li class="option">	Appointment</li>
		
		<li class="option">	Appointment</li>
		
		<li class="option">	Appointment</li>
		
		
	</ul>
	
</div>